.Game{
    background-color: blueviolet;
    margin-top:0px;
    margin-left: auto;
    margin-right: auto;
}
input{
background: white;
color: black;
background-image: url('http://www.dekalbparkdistrict.com/upload/writing-icon.png');
background-size: 15px 15px;
background-position: left center; 
background-repeat:no-repeat;
border: none;
border-bottom: 2px solid red;
border-radius: 2px;
height: 30px;
width: 200px;
padding: 0px 17px;
margin: 2px;
outline: none;
resize: none;
}

#Imagen{
    width: 350px;
    height: 350px;
    object-fit: contain;
    border: 3px solid lightgrey;
    margin: 2px;
}