.Game{
    
    margin-top:0px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}
input{
    align-items: top;
background: white;

color: black;

background-repeat:no-repeat;
border: none;
border-bottom: 4px solid red;
border-radius: 10px;
height: 50px;
width: 300px;
padding: 0px 17px;
margin-top: 10px;
outline: none;
resize: none;
}

#Imagen{
    width: 500px;

    height: 400px;

    object-fit: cover;
    border: 3px solid lightgrey;
    border-radius: 20px;
    margin: 2px;
    align-content: left;
    
}

#santi{
   border-radius: 50%;
   width: 60px;
   object-position: left
}

.imagenPregunta{
    align-content: left;
    
    
}
h1{
    color: white;
    align-content: left;
    font-size: 40px;
}

span.Score{
    background-color: whitesmoke;
    color: green;
    margin-top: 30px;
    padding: 20px;

}