.Game{
    background-color: blueviolet;
    margin-top:0px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
input{
background: white;

color: black;

background-repeat:no-repeat;
border: none;
border-bottom: 4px solid red;
border-radius: 10px;
height: 50px;
width: 300px;
padding: 0px 17px;
margin-top: 10px;
outline: none;
resize: none;
}

#Imagen{
    width: 350px;
    height: 350px;
    object-fit: contain;
    border: 3px solid lightgrey;
    border-radius: 20px;
    margin: 2px;
}